
html,
body {
    height: 100%;
    margin: 0;
    padding:0;
}

#main {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

#app {
    width: 100%;
    height: 100%;
    display: flex;
}

div.scroll {
  overflow: auto;
  height: 400px;
  width: 1000px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.homepage-buttons {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.homepage-title {
  font-family: Lato;
  font-size: 55;
  text-align: center;
}

.list-container {
  display: flex;
  overflow: auto;
  width: 1200px;
  height: 590px;
  align-items: center;
  justify-content: center;
}

.list-ul {
  max-width: 800px;
  height: 500px
}

.list-li {
  position: relative;
  justify-content: center;
}

.json-container {
  display: flex;
  width: 1200px;
  height: 590px;
  align-items: center;
  justify-content: center;
}

.json-ul {
  max-width: 800px;
  height: 500px;
  align-items: center;
  justify-content: center;
}

.json-li {
  vertical-align:middle;
  overflow: auto;
  max-width: 1000px;
  max-height: 50px;
  position: relative;
  text-align: center;
}

.json-li-json {
  vertical-align:middle;
  overflow: auto;
  min-width: 400px;
  max-height: 400px;
  position: relative;
  justify-content: center;
  align-items: center;
  border-style: solid;
}

.map-container {
  width: 1200px;
  height: 590px;
  align-items: center;
  justify-content: center;
  left: 50%;
  top: 50%;
}


.div-left {
  float:left;
  min-width:500px;
}

.div-right {
  float:right;
  min-width: 500px;
}

.buttons-center {
  display: flex;
  align-items: center;
  justify-content: center;
}